.box{
    border: black solid 2px;
    box-sizing: border-box;
    width:100%;
    height:500px;
}

#box2{
    font-size: 4em;
    background-color: yellow;
    width:35%;
    height:300px;
}

#MyBttn{
    width:20%;
    height:20%;
    font-size: 2em;
    background-color: hsl(0, 2%, 71%)
}